body {
    margin: 0;
 }  

/* 
Header
*/

.block .header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #ffffff;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 4px 10px -3px, rgba(0, 0, 0, 0.15) 0px -2px 0px inset;
}

.block .header .logo {
    margin-top : 10px;
    margin-left: 3%;
    height: 40px;
}

.block .header .lienBoutton {
    float : right;
    margin-top: 10px;
    margin-right : 3%;
}

.block .header .lienBoutton input{
    background-color: #ff9955;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    border: #ffffff;
    border-radius: 12px;
}

.block .header .lienBoutton input:hover{
    background-color : #ff7b00;
    color : #e6e3e3;
}


.titre {
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


/* 
ScoreBoard
*/
.terrain .scoreBord {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 300px;
}

.terrain .scoreBord .scoreBordScore,
.terrain .scoreBord .scoreBordNom {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

.scoreBord .scoreBordNom {
    border-bottom: 1px solid #000000;
}

.scoreBord .scoreBordControl{
    display: flex;
}

.scoreBord .scoreBordControl .scoreBordControlB{
    flex-grow: 1;
    border: none;
    background-color: #dddddd;
    color: #000000;
    font-size: 20px;
}

.scoreBord .scoreBordControl .scoreBordControlB:hover{
    background-color: #a3a3a3;
    color: #ffffff;
}

.terrain .scoreBord .point{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    border-radius: 50%;
}

.terrain .scoreBord .point .pointB1{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    background-color: green;
    color: #ffffff;
    border: none;
}



.terrain .scoreBord .point .fauteB1{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border: none;
    color: #ffffff;
    background-color: red;
    
}

.terrain .scoreBord .point .pointB2{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    background-color: blue;
    color: #ffffff;
    border: none;
}



.terrain .scoreBord .point .fauteB2{
    border-radius: 50%;
    height: 30px;
    width: 30px;
    font-size: 15px;
    border: none;
    color: #ffffff;
    background-color: yellow;
    
}

.terrain .scoreBord .point p{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
}

/* 
Terrain
*/
.terrain .canvas {
    /* border: 1px solid black; */
    margin-top: 10px;
    display : block;
    margin-left: auto;
    margin-right: auto;
}


/*
terminer
*/

.terminer {
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.terminer #terminerB {
    background-color: #ff9955;
    color: #ffffff;
    font-size: 16px;
    height: 40px;
    border: #ffffff;
    border-radius: 12px;
}

.terminer #terminerB:hover{
    background-color : #ff7b00;
    color : #e6e3e3;
}