<!DOCTYPE html>
    <!-- Page d'accueille , page où on se connecte à une session-->
    <html>
        <head>
            <meta charset="utf-8">
            <title>Classement du tournois</title>
            <link rel="stylesheet" href="/stylesheets/classement_eleve.css">
            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
        </head>
        <div class ="block">
            <header class="header">
                <img class="logo" src="/images/image.jpeg">
                   <a class="lienBoutton" href="/" ><input type = "button" value="Menu principale"></a>
            </header>
        </div>
        <body>
            <div class="container" id="app">
                <h1>Classement du tournois
                </h1>
                <br>
                <br>
                
                <%if (type == "tournoi equipe"){ %>
                    <div >
                        <form action='/classement_prof' method='post'>
                            <button class="bouton" name="action" value="Gestion des equipes" >Gestion des equipes</button>
                        </form>
                    </div>

                <% } %>
                <% if (type == "tournoi individuel"){ %>
                    <div class="tab">
                        <table class="table table-striped">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Position</th>
                                    <th>Nom</th>
                                    <th>Prénom</th>
                                    <th>Points</th>
                                    <th>Nombre de match</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(eleve, index) in parsedClassement">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ eleve.nom }}</td>
                                    <td>{{ eleve.prenom }}</td>
                                    <td>{{ eleve.points }}</td>
                                    <td>{{ eleve.nbMatchs }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <% if (message) { %>
                        <p style="color: red;"><%= message %></p>
                      <% } %>
                    <% } %>
                <div >
                    <form action='/classement_prof' method='post'>
                        <button class="bouton" name="action" value="Retour">Retour</button>
                    </form>
                </div>
            </body>
        </html>
    <script>
        const ws = new WebSocket('ws://localhost:3001');

        new Vue({
            el: '#app',
            data: {
                position : 1,
                session: '<%=idSession%>',
                type: '<%=type%>',
                parsedClassement: [],
            },
            created: function() {
                // Écouter les événements de la connexion WebSocket
                this.position=1;
                const ses = this.session;
                const sesInt = parseInt(ses);
    
                ws.addEventListener('open', function(event) {
                    ws.send(JSON.stringify({ type: 'getClassement', session: sesInt }));
                });

                ws.addEventListener('message', function(event) {
                    
                    const data = JSON.parse(event.data);
                    
                    if(data.type == 'classement'){
                        
                        const parsedClassement = [];
                        const classementObj = JSON.parse(data.data);
                    
                        if(this.type == "tournoi equipe"){
                            for (const position in classementObj) {
                            const equipe = classementObj[position];
                                parsedClassement.push({
                                    position: position,
                                    id: eleve[1],
                                    points: equipe[3],
                                    nbMatchs: equipe[4]
                                });
                            }
                            this.parsedClassement = parsedClassement;
                        }
                        else if(this.type == "tournoi individuel"){
                            for (const position in classementObj) {
                                const eleve = classementObj[position];
                                parsedClassement.push({
                                    position: position,
                                    nom: eleve[1],
                                    prenom: eleve[2],
                                    points: eleve[3],
                                    nbMatchs: eleve[4]
                                });
                            }
                            this.parsedClassement = parsedClassement;
                        }
                    }
                    
                }.bind(this));


            },
            destroyed: function() {
                // Fermer la connexion WebSocket lorsque la vue est détruite
                ws.close();
            },
        });
    </script>