<!DOCTYPE html>
<html>
    <head>
        <title>Classement</title>
        <link rel="stylesheet" href="/stylesheets/classement_eleve.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </head>
    <body>
        <div class="container" id="app">
            <div class="block">
            <header class="header">
                <img class="logo" src="/images/image.jpeg">
                <a class="lienBoutton" href="/"><input type="button" value="déconnection"></a>
            </header>
            </div>

            <div class="jsp">
            <h1 class="titre">Classement</h1>
            <h3 class="titre2">Faire un match contre :</h3>
            <select id="mySelect" v-model="updateNomEleves">
                <option v-for="nom in nomEleves">{{ nom }}</option>
            </select>
            <form class="formulaire" action='/classement_eleve' method='post'>
                <input type="hidden" name="idSession" value="terminer" id="idSession">
                <input type="hidden" name="NomAdversaire" value="terminer" id="NomAdversaire">
                <button class="bouton" id="entre">Entré</button>
            </form>
            </div>

            <div class = tab>
                <table>
                    <thead>
                      <tr>
                        <th>Position</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Points</th>
                        <th>Nombre de match</th>
                      </tr>
                    </thead>
                    <tbody>
                                       
                  </table>
            </div>
        </div>
        
         
        <script>
            const ws = new WebSocket('ws://localhost:3001');

            new Vue({
            el: '#app',
            data: {
                position : 1,
                session: '<%=idSession%>',
                nomEleves: [],
                classement: '<%=classement%>',
                nomCo: '<%=nomCo%>',
                prenomCo: '<%=prenomCo%>'
            },
            created: function() {
                // Écouter les événements de la connexion WebSocket
                this.position=1;
                const ses = this.session;
                const sesInt = parseInt(ses);
                console.log("classement[0]"+this.classement)

                
                
                ws.addEventListener('open', function(event) {
                    console.log('Connexion WebSocket ouverte');
                    ws.send(JSON.stringify({ type: 'getTabEleve', session: sesInt }));
                    ws.send(JSON.stringify({ type: 'getClassement', session: sesInt }));
                });

                ws.addEventListener('message', function(event) {
                    console.log('Données reçues:');
                    console.log(JSON.parse(event.data));



                    const data = JSON.parse(event.data);
                    if(data.type == 'eleves'){
                        const infoEleve = data.data;
                        const noms = [];
                        console.log(infoEleve + 'infoEleve');
                        for (const eleve of infoEleve) {
                            if (eleve.session === sesInt && eleve.nom !== this.nomCo && eleve.prenom !== this.prenomCo) {
                                noms.push(eleve.nom + ' ' + eleve.prenom);
                            }
                        }
                        this.updateNomEleves(noms);

                    }else if(data.type == 'classement'){
                        const classement = data.data;
                        console.log(classement + 'classement');
                    }
                    
                }.bind(this));


            },
            destroyed: function() {
                // Fermer la connexion WebSocket lorsque la vue est détruite
                ws.close();
            },
            methods: {
                updateNomEleves(noms) {
                    this.nomEleves = noms;
                },
            }
            });

            let form = document.querySelector('#entre');
            let select = document.querySelector('#NomAdversaire');
            let idSession = document.querySelector('#idSession');

            form.addEventListener('click', function(event) {
                select.value = document.querySelector('#mySelect').value;
                idSession.value = '<%=idSession%>';
            });
        </script>
    </body>
</html>
