<!DOCTYPE html>
<html>
    <head>
        <title>Classement</title>
        <link rel="stylesheet" href="/stylesheets/classement_eleve.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="container" id="app">
            <div class="block">
            <header class="header">
                <img class="logo" src="/images/image.jpeg">
                <a class="lienBoutton" href="/"><input type="button" value="déconnection"></a>
            </header>
            </div>

            <div class="jsp">
            <h1 class="titre">Classement</h1>
            <h3 class="titre2">Faire un match contre :</h3>
            <select id="mySelect" v-model="updateNomEleves">
                <option v-for="nom in nomEleves">{{ nom }}</option>
            </select>
            <form class="formulaire" action='/classement_equipe' method='post'>
                <input type="hidden" name="idSession" value="terminer" id="idSession">
                <input type="hidden" name="NomAdversaire" value="terminer" id="NomAdversaire">
                <button class="bouton" id="entre">Entré</button>
            </form>
            </div>
            <br/>
            <br/>

            <div class="tab">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>Position</th>
                            <th>Equipes</th>
                            <th>Points</th>
                            <th>Nombre de match</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(eleve, index) in parsedClassement">
                            <td>{{ index + 1 }}</td>
                            <td>Equipe {{ eleve.id_equipe}}</td>
                            <td>{{ eleve.points }}</td>
                            <td>{{ eleve.nbMatchs }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <% if (message) { %>
                <p style="color: red;"><%= message %></p>
              <% } %>
            
            </div>
        </div>
         
        <script>
            const ws = new WebSocket('ws://localhost:3001');

            new Vue({
                el: '#app',
                data: {
                    position : 1,
                    session: '<%=idSession%>',
                    nomEleves: [],
                    parsedClassement: [],
                    idCo: '<%=idCo%>'
                },
                created: function() {
                    // Écouter les événements de la connexion WebSocket
                    this.position=1;
                    const ses = this.session;
                    const sesInt = parseInt(ses);

                    ws
                
                    ws.addEventListener('open', function(event) {
                        ws.send(JSON.stringify({ type: 'getTabEquipe', session: sesInt }));
                        ws.send(JSON.stringify({ type: 'getClassement', session: sesInt }));
                    });

                    ws.addEventListener('message', function(event) {

                        const data = JSON.parse(event.data);
                        if(!(Array.isArray(this.idCo))){
                            this.idCo= this.idCo.split(",");
                        }

                        if(data.type == 'equipes' && data.session == sesInt){
                            const info_equipe = data.data;
                            
                            const noms = [];
                            console.log(this.idCo);
                            for (k = 0;k<info_equipe.length;k++){
                                var trouver = false;
                                for (var b = 0; b < this.idCo.length; b++) {
                                    console.log(this.idCo[b])
                                    if(info_equipe[k] == this.idCo[b]){
                                        trouver=true;
                                    }
                                }
                                if(trouver == false ){
                                    noms.push(info_equipe[k]);
                                }
                            }
                            this.updateNomEleves(noms);


                        }if(data.type == 'classement' && data.session == sesInt ){
                            
                            const parsedClassement = [];
                            const classementObj = JSON.parse(data.data);
                            
                            for (const position in classementObj) {
                                const eleve = classementObj[position];
                                parsedClassement.push({
                                    position: position,
                                    id_equipe: eleve[0],
                                    points: eleve[3],
                                    nbMatchs: eleve[4]
                                });
                            }

                            parsedClassement.sort((a, b) => b.points - a.points);
                            this.parsedClassement = parsedClassement;
                            
                        }
                        
                    }.bind(this));


                },
                destroyed: function() {
                    // Fermer la connexion WebSocket lorsque la vue est détruite
                    ws.close();
                },
                methods: {
                    updateNomEleves(noms) {
                        this.nomEleves = noms;
                    },
                }
            });

            let form = document.querySelector('#entre');
            let select = document.querySelector('#NomAdversaire');
            let idSession = document.querySelector('#idSession');

            form.addEventListener('click', function(event) {
                select.value = document.querySelector('#mySelect').value;
                idSession.value = '<%=idSession%>';
            });
        </script>
    </body>
</html>
