<!DOCTYPE html>
<html>
    <head>
        <title>Classement</title>
        <link rel="stylesheet" href="/stylesheets/classement_eleve.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    </head>
    <body>
        <div class="container" id="app">
            <div class="block">
            <header class="header">
                <img class="logo" src="/images/image.jpeg">
                <a class="lienBoutton" href="/"><input type="button" value="déconnection"></a>
            </header>
            </div>

            <div class="jsp">
            <h1 class="titre">Classement</h1>
            <h3 class="tritre2">Faire un match contre :</h3>
            <select id="mySelect">
                <option v-for="nom in nomEleves">{{ nom }}</option>
            </select>
            <form class="formulaire" action='/classement_eleve' method='post'>
                <button class="bouton" id="entre">Entré</button>
            </form>
            </div>
        </div>
        
        
        <script>
        new Vue({
            el: '#app',
            data: {
                session : 2,
                nomEleves: []
            },
            
            });
        </script>
    </body>
</html>
