<html>
    <head>
        <meta charset="utf-8">
        <title>Creation de Session</title>
        <link rel="stylesheet" href="/stylesheets/eleveVsEleve.css">

    </head>
    <div class ="block">
        <header class="header">
            <img class="logo" src="/images/image.jpeg">
               <a class="lienBoutton" href="/" ><input type = "button" value="déconnection"></a>
        </header>
    </div>

    <div class ="titre">
            <h1>Match</h1>
    </div>
    
    <div class="terrain">
        <div id="scorebord" class ="scoreBord">
            <div class="scoreBordNom scoreBordNom1">Vous</div>
            <div class="scoreBordNom scoreBordNom2">Tristan</div>
            <div class="scoreBordScore">0</div>
            <div class="scoreBordScore">0</div>
            <div class="scoreBordControl">
                <button class="scoreBordControlB">-</button>
                <button class="scoreBordControlB">+</button>
            </div>
            <div class="scoreBordControl">
                <button class="scoreBordControlB">-</button>
                <button class="scoreBordControlB">+</button>
            </div>
            <div class="point">
                <div class="faute1">
                    <button class="fauteB fauteB1"></button>
                    <p>Faute</p>
                </div>
                <div class="point1">
                    <button class="pointB pointB1"></button>
                    <p>Point</p>
                </div>
            </div>
            <div class="point">
                <div class="faute2">
                    <button class="fauteB fauteB2"></button>
                    <p>Faute</p>
                </div>
                <div class="point2">
                    <button class="pointB pointB2"></button>
                    <p>Point</p>
                </div>
            </div>
        </div>
        <canvas class="canvas" width="300" height="500"></canvas>
    </div>

    <div class="terminer">
        <form action="/eleveVsEleve" method="post">
            <input type="hidden" name="score1" value="terminer" id="scoreOne">
            <input type="hidden" name="score2" value="terminer" id="scoreTwo">
            <input type="submit" value="Terminer le Match" id="terminerB">
        </form>
    </div>
    


    <script>
        const canvas = document.querySelector('canvas');
        const ctx = canvas.getContext('2d');
        ctx.fillStyle = '#000000';

        // terrain de basminton 
        
        // // bordure du terrain
        // ctx.fillRect(20, 20, 5, 460);
        // ctx.fillRect(275, 20, 5, 460);
        // ctx.fillRect(20, 20, 260, 5);
        // ctx.fillRect(20, 475, 260, 5);

        // // ligne de service
        // ctx.fillRect(20, 240, 260, 5);

        // // couloir
        // ctx.fillRect(20, 50, 260, 5);
        // ctx.fillRect(20, 445, 260, 5);
        // ctx.fillRect(50, 20, 5, 460);
        // ctx.fillRect(245, 20, 5, 460);

        // // carré de service
        // ctx.fillRect(20, 180, 260, 5);
        // ctx.fillRect(20, 300, 260, 5);
        // ctx.fillRect(147.5, 20, 5, 160);
        // ctx.fillRect(147.5, 300, 5, 180);


        // terrain de tennis de table
        
        // bordure du terrain
        // ctx.fillRect(20, 20, 5, 460);
        // ctx.fillRect(275, 20, 5, 460);
        // ctx.fillRect(20, 20, 260, 5);
        // ctx.fillRect(20, 475, 260, 5);

        // // fillet
        // ctx.fillRect(20, 240, 260, 5);

        // // carré de service
        // ctx.fillRect(147.5, 20, 5, 460);
        


        // terrain handball

        // // bordure du terrain
        // ctx.fillRect(20, 20, 5, 460);
        // ctx.fillRect(275, 20, 5, 460);
        // ctx.fillRect(20, 20, 260, 5);
        // ctx.fillRect(20, 475, 260, 5);

        // // ligne de millieu de terrain
        // ctx.fillRect(20, 240, 260, 2);

        // // cage
        // ctx.fillRect(135,10,25,5);
        // ctx.fillRect(135,10,5,10);
        // ctx.fillRect(160,10,5,10);
        // ctx.fillRect(135,485,25,5);
        // ctx.fillRect(135,480,5,10);
        // ctx.fillRect(160,480,5,10);
        
        // // zone de but
        // ctx.beginPath();
        // ctx.ellipse(150,22.5 ,100,70,0,0, Math.PI);
        // ctx.closePath();
        // ctx.stroke();
        // ctx.beginPath();
        // ctx.ellipse(150,477.5 ,100,70,0,Math.PI, 0);
        // ctx.closePath();
        // ctx.stroke();

        // // ligne de jet franc
        // ctx.setLineDash([5, 5]);
        // ctx.beginPath();
        // ctx.ellipse(150,477.5 ,125,95,0,Math.PI, 0);
        // ctx.closePath();
        // ctx.stroke();
        // ctx.setLineDash([5, 5]);
        // ctx.beginPath();
        // ctx.ellipse(150,22.5 ,125,95,0,0, Math.PI);
        // ctx.closePath();
        // ctx.stroke();

        // // ligne de jet de 7m
        // ctx.fillRect(145,100,10,2);
        // ctx.fillRect(145,400,10,2);

        // // limite gardien
        // ctx.fillRect(147.5,70,5,2);
        // ctx.fillRect(147.5,430,5,2);



        // terrain de foot

        // // bordure du terrain
        // ctx.fillRect(20, 20, 5, 460);
        // ctx.fillRect(275, 20, 5, 460);
        // ctx.fillRect(20, 20, 260, 5);
        // ctx.fillRect(20, 475, 260, 5);
        
        // // ligne de millieu de terrain
        // ctx.fillRect(20, 240, 260, 2);
        // ctx.beginPath()
        // ctx.arc(150, 240, 40, 0, Math.PI * 2, true);
        // ctx.closePath();
        // ctx.stroke();
        // ctx.beginPath();
        // ctx.arc(150, 241, 3, 0, Math.PI * 2, true);
        // ctx.closePath();
        // ctx.fill();


        // // cage
        // ctx.fillRect(135,10,25,5);
        // ctx.fillRect(135,10,5,10);
        // ctx.fillRect(160,10,5,10);
        // ctx.fillRect(135,485,25,5);
        // ctx.fillRect(135,480,5,10);
        // ctx.fillRect(160,480,5,10);
        
        // // surface de réparation
        // ctx.fillRect(120,40,60,2);
        // ctx.fillRect(120,460,60,2);
        // ctx.fillRect(120,20,2,20);
        // ctx.fillRect(178,20,2,20);
        // ctx.fillRect(120,460,2,20);
        // ctx.fillRect(178,460,2,20);

        // ctx.fillRect(90,80,120,2);
        // ctx.fillRect(90,420,120,2);

        // ctx.fillRect(90,20,2,60);
        // ctx.fillRect(208,20,2,60);

        // ctx.fillRect(90,420,2,60);
        // ctx.fillRect(208,420,2,60);

        // ctx.beginPath();
        // ctx.arc(150, 70, 30, 0.35, Math.PI-0.35, false);
        // ctx.closePath();
        // ctx.stroke();

        // ctx.beginPath();
        // ctx.arc(150, 432, 30, Math.PI+0.35, 2*Math.PI-0.35, false);
        // ctx.closePath();
        // ctx.stroke();

        // //ligne 11m
        // ctx.beginPath();
        // ctx.arc(150, 60, 2, 0, Math.PI * 2, true);
        // ctx.closePath();
        // ctx.fill();
        // ctx.beginPath();
        // ctx.arc(150, 442, 2, 0, Math.PI * 2, true);
        // ctx.closePath();
        // ctx.fill();

        // //corner
        // ctx.beginPath();
        // ctx.arc(27, 27, 5, 0, Math.PI*2, true);
        // ctx.closePath();
        // ctx.stroke();

        // ctx.beginPath();
        // ctx.arc(273, 27, 5, 0, Math.PI*2, true);
        // ctx.closePath();
        // ctx.stroke();

        // ctx.beginPath();
        // ctx.arc(27, 473, 5, 0, Math.PI*2, true);
        // ctx.closePath();
        // ctx.stroke();

        // ctx.beginPath();
        // ctx.arc(273, 473, 5, 0, Math.PI*2, true);
        // ctx.closePath();
        // ctx.stroke();


        // Terrain de basket

        // bordure du terrain
        ctx.fillRect(20, 20, 5, 460);
        ctx.fillRect(275, 20, 5, 460);
        ctx.fillRect(20, 20, 260, 5);
        ctx.fillRect(20, 475, 260, 5);

        // ligne de millieu de terrain
        ctx.fillRect(20, 240, 260, 2);
        ctx.beginPath()
        ctx.arc(150, 240, 40, 0, Math.PI * 2, true);
        ctx.closePath();
        ctx.stroke();


        // ligne de 3 points
        ctx.beginPath();
        ctx.fillRect(60, 25, 2, 20);
        ctx.fillRect(238, 25, 2, 20);
        ctx.arc(150, 40, 89, 0, Math.PI , false);
        ctx.stroke();
        ctx.closePath();

        ctx.beginPath();
        ctx.fillRect(60, 455, 2, 20);
        ctx.fillRect(238, 455, 2, 20);
        ctx.arc(150, 460, 89, Math.PI, 0 , false);
        ctx.stroke();
        ctx.closePath();

        // couloire des lancer franc
        ctx.fillRect(125, 25, 1, 75);
        ctx.fillRect(174, 25, 1, 75);
        ctx.fillRect(125,95,50,1);
        ctx.fillRect(125, 405, 1, 75);
        ctx.fillRect(174, 405, 1, 75);
        ctx.fillRect(125, 405, 50, 1);

        ctx.beginPath();
        ctx.arc(150, 95, 25,0, Math.PI*2, false);
        ctx.stroke();
        ctx.closePath();

        ctx.beginPath();
        ctx.arc(150, 405, 25,0, Math.PI*2, false);
        ctx.stroke();
        ctx.closePath();

        // pagner 
        ctx.fillRect(140, 35, 20, 1);
        ctx.fillRect(150, 35, 1, 2);
        ctx.beginPath();
        ctx.arc(150.5, 42, 4, 0, Math.PI*2, false);
        ctx.stroke();
        ctx.closePath();
        ctx.fillRect(140, 465, 20, 1);
        ctx.fillRect(150, 463, 1, 2);
        ctx.beginPath();
        ctx.arc(150.5, 458, 4, 0, Math.PI*2, false);
        ctx.stroke();
        ctx.closePath();



// ###############################################################################################################
        
        // gestion des scores
        let pointB1 = document.querySelector('.pointB1');
        let pointB2 = document.querySelector('.pointB2');
        let fauteB1 = document.querySelector('.fauteB1');
        let fauteB2 = document.querySelector('.fauteB2');
        
        pointB1.addEventListener('click',drawPointB1,false);
        pointB2.addEventListener('click',drawPointB2,false);
        fauteB1.addEventListener('click',drawFauteB1,false);
        fauteB2.addEventListener('click',drawFauteB2,false);

            // gestion des points
            // point 1
            function drawPointB1(e){
                document.removeEventListener('click',drawCirclePB2,false);
                document.removeEventListener('click',drawCircleFB2,false);
                document.removeEventListener('click',drawCircleFB1,false);
                document.addEventListener('click',drawCirclePB1,false);
            }

            function drawCirclePB1(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'green';
                ctx.fill();
                if(x > 0 && x < 300 && y > 0 && y < 500 ){
                    score1++;
                    scoreBordScore[0].innerHTML = score1;
                }
            }

            // point 2
            function drawPointB2(e){
                document.removeEventListener('click',drawCirclePB1,false);
                document.removeEventListener('click',drawCircleFB1,false);
                document.removeEventListener('click',drawCircleFB2,false);
                document.addEventListener('click',drawCirclePB2,false);
            }

            function drawCirclePB2(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'blue';
                ctx.fill();
                if(x > 0 && x < 300 && y > 0 && y < 500 ){
                    score2++;
                    scoreBordScore[1].innerHTML = score2;
                }
            }

            // gestion des fautes
            //  Faute 1
            function drawFauteB1(e){
                document.removeEventListener('click',drawCirclePB1,false);
                document.removeEventListener('click',drawCirclePB2,false);
                document.removeEventListener('click',drawCircleFB2,false);
                document.addEventListener('click',drawCircleFB1,false);
            }

            function drawCircleFB1(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'red';
                ctx.fill();
                if(x > 0 && x < 300 && y > 0 && y < 500 ){
                    score2++;
                    scoreBordScore[1].innerHTML = score2;
                }
            }

            // Faute 2
            function drawFauteB2(e){
                document.removeEventListener('click',drawCirclePB1,false);
                document.removeEventListener('click',drawCirclePB2,false);
                document.removeEventListener('click',drawCircleFB1,false);
                document.addEventListener('click',drawCircleFB2,false);
            }

            function drawCircleFB2(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'yellow';
                ctx.fill();
                if(x > 0 && x < 300 && y > 0 && y < 500 ){
                    score1++;
                    scoreBordScore[0].innerHTML = score1;
                }
            }

        // Gestion du scoreboard
        let scoreBord = document.querySelector('.scoreBord');
        let scoreBordScore = document.querySelectorAll('.scoreBordScore');
        let scoreBordControl = document.querySelectorAll('.scoreBordControl');
        let scoreBordControlB = document.querySelectorAll('.scoreBordControlB');
                
        
        let score1 = 0;
        let score2 = 0;

        scoreBordScore[0].innerHTML = score1;
        scoreBordScore[1].innerHTML = score2;

        scoreBordControlB[0].addEventListener('click', function(){
            if(score1 > 0){
                score1--;
                scoreBordScore[0].innerHTML = score1;
            }
        });

        scoreBordControlB[1].addEventListener('click', function(){
            score1++;
            scoreBordScore[0].innerHTML = score1;
        });

        scoreBordControlB[2].addEventListener('click', function(){
            if(score2 > 0){
                score2--;
                scoreBordScore[1].innerHTML = score2;
            }
        });

        scoreBordControlB[3].addEventListener('click', function(){
            score2++;
            scoreBordScore[1].innerHTML = score2;
        });

        // envoie les scores dans le formulaire
        let scoreOne = document.querySelector('#scoreOne');
        let scoreTwo = document.querySelector('#scoreTwo');
        let terminerB = document.querySelector('#terminerB');

        terminerB.addEventListener('click', function(){
            scoreOne.value = score1;
            scoreTwo.value = score2;
        });


    </script>

</html>