<html>
    <head>
        <meta charset="utf-8">
        <title>Creation de Session</title>
        <link rel="stylesheet" href="/stylesheets/eleveVsEleve.css">

    </head>
    <div class ="block">
        <header class="header">
            <img class="logo" src="/images/image.jpeg">
               <a class="lienBoutton" href="/" ><input type = "button" value="déconnection"></a>
        </header>
    </div>

    <div class ="titre">
            <h1>Match contre Eleve</h1>
    </div>
    
    <div class="terrain">
        <div id="scorebord" class ="scoreBord">
            <div class="scoreBordNom scoreBordNom1">Vous</div>
            <div class="scoreBordNom scoreBordNom2">Tristan</div>
            <div class="scoreBordScore">0</div>
            <div class="scoreBordScore">0</div>
            <div class="scoreBordControl">
                <button class="scoreBordControlB">-</button>
                <button class="scoreBordControlB">+</button>
            </div>
            <div class="scoreBordControl">
                <button class="scoreBordControlB">-</button>
                <button class="scoreBordControlB">+</button>
            </div>
            <div class="point">
                <div class="faute1">
                    <button class="fauteB fauteB1"></button>
                    <p>Faute</p>
                </div>
                <div class="point1">
                    <button class="pointB pointB1"></button>
                    <p>Point</p>
                </div>
            </div>
            <div class="point">
                <div class="faute2">
                    <button class="fauteB fauteB2"></button>
                    <p>Faute</p>
                </div>
                <div class="point2">
                    <button class="pointB pointB2"></button>
                    <p>Point</p>
                </div>
            </div>
        </div>
        <canvas class="canvas" width="300" height="500"></canvas>
    </div>

    <div class="terminer">
        <form action="/eleveVsEleve" method="post">
            <input type="hidden" name="score1" value="terminer" id="scoreOne">
            <input type="hidden" name="score2" value="terminer" id="scoreTwo">
            <input type="submit" value="Terminer le Match" id="terminerB">
        </form>
    </div>
    


    <script>
        const canvas = document.querySelector('canvas');
        const ctx = canvas.getContext('2d');

        // terrain de basminton 
        ctx.fillStyle = '#000000';
        // bordure du terrain
        ctx.fillRect(20, 20, 5, 460);
        ctx.fillRect(275, 20, 5, 460);
        ctx.fillRect(20, 20, 260, 5);
        ctx.fillRect(20, 475, 260, 5);

        // ligne de service
        ctx.fillRect(20, 240, 260, 5);

        // couloir
        ctx.fillRect(20, 50, 260, 5);
        ctx.fillRect(20, 445, 260, 5);
        ctx.fillRect(50, 20, 5, 460);
        ctx.fillRect(245, 20, 5, 460);

        // carré de service
        ctx.fillRect(20, 180, 260, 5);
        ctx.fillRect(20, 300, 260, 5);
        ctx.fillRect(150, 20, 5, 160);
        ctx.fillRect(150, 300, 5, 180);

        // gestion des scores
        let pointB1 = document.querySelector('.pointB1');
        let pointB2 = document.querySelector('.pointB2');
        let fauteB1 = document.querySelector('.fauteB1');
        let fauteB2 = document.querySelector('.fauteB2');
        
        pointB1.addEventListener('click',drawPointB1,false);
        pointB2.addEventListener('click',drawPointB2,false);
        fauteB1.addEventListener('click',drawFauteB1,false);
        fauteB2.addEventListener('click',drawFauteB2,false);

            // gestion des points
            // point 1
            function drawPointB1(e){
                document.removeEventListener('click',drawCirclePB2,false);
                document.removeEventListener('click',drawCircleFB2,false);
                document.removeEventListener('click',drawCircleFB1,false);
                document.addEventListener('click',drawCirclePB1,false);
                score1--;
            }

            function drawCirclePB1(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'green';
                ctx.fill();
                if(x > 20 && x < 280 && y > 20 && y < 480 ){
                    score1++;
                    scoreBordScore[0].innerHTML = score1;
                }
            }

            // point 2
            function drawPointB2(e){
                document.removeEventListener('click',drawCirclePB1,false);
                document.removeEventListener('click',drawCircleFB1,false);
                document.removeEventListener('click',drawCircleFB2,false);
                document.addEventListener('click',drawCirclePB2,false);
                score2--;
            }

            function drawCirclePB2(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'blue';
                ctx.fill();
                if(x > 20 && x < 280 && y > 20 && y < 480 ){
                    score2++;
                    scoreBordScore[1].innerHTML = score2;
                }
            }

            // gestion des fautes
            //  Faute 1
            function drawFauteB1(e){
                document.removeEventListener('click',drawCirclePB1,false);
                document.removeEventListener('click',drawCirclePB2,false);
                document.removeEventListener('click',drawCircleFB2,false);
                document.addEventListener('click',drawCircleFB1,false);
                score2--;
            }

            function drawCircleFB1(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'red';
                ctx.fill();
                if(x > 20 && x < 280 && y > 20 && y < 480 ){
                    score2++;
                    scoreBordScore[1].innerHTML = score2;
                }
            }

            // Faute 2
            function drawFauteB2(e){
                document.removeEventListener('click',drawCirclePB1,false);
                document.removeEventListener('click',drawCirclePB2,false);
                document.removeEventListener('click',drawCircleFB1,false);
                document.addEventListener('click',drawCircleFB2,false);
                score1--;
            }

            function drawCircleFB2(e){
                var x = e.pageX - canvas.offsetLeft;
                var y = e.pageY - canvas.offsetTop;
                ctx.beginPath();
                ctx.arc(x,y,5,0,2*Math.PI);
                ctx.fillStyle = 'yellow';
                ctx.fill();
                if(x > 20 && x < 280 && y > 20 && y < 480 ){
                    score1++;
                    scoreBordScore[0].innerHTML = score1;
                }
            }

        // Gestion du scoreboard
        let scoreBord = document.querySelector('.scoreBord');
        let scoreBordScore = document.querySelectorAll('.scoreBordScore');
        let scoreBordControl = document.querySelectorAll('.scoreBordControl');
        let scoreBordControlB = document.querySelectorAll('.scoreBordControlB');
                
        
        let score1 = 0;
        let score2 = 0;

        scoreBordScore[0].innerHTML = score1;
        scoreBordScore[1].innerHTML = score2;

        scoreBordControlB[0].addEventListener('click', function(){
            if(score1 > 0){
                score1--;
                scoreBordScore[0].innerHTML = score1;
            }
        });

        scoreBordControlB[1].addEventListener('click', function(){
            score1++;
            scoreBordScore[0].innerHTML = score1;
        });

        scoreBordControlB[2].addEventListener('click', function(){
            if(score2 > 0){
                score2--;
                scoreBordScore[1].innerHTML = score2;
            }
        });

        scoreBordControlB[3].addEventListener('click', function(){
            score2++;
            scoreBordScore[1].innerHTML = score2;
        });

        // envoie les scores dans le formulaire
        let scoreOne = document.querySelector('#scoreOne');
        let scoreTwo = document.querySelector('#scoreTwo');
        let terminerB = document.querySelector('#terminerB');

        terminerB.addEventListener('click', function(){
            scoreOne.value = score1;
            scoreTwo.value = score2;
        });


    </script>

</html>