<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Création de Session</title>
    <link rel="stylesheet" href="/stylesheets/create_session.css">
  </head>
  <body>
    <div id="app">
      <div class="block">
        <header class="header">
          <img class="logo" src="/images/image.jpeg">
          <a class="lienBoutton" href="/" ><input type="button" value="Déconnexion"></a>
        </header>
      </div>
      <div class="titre">
        <h1>Nouvelle Activité</h1>
      </div>
      <form action="/crSession" method="POST" class="formulaire">
        <label for="typeAct">Type d'activité : </label><br>
        <select name="selectedType" v-on:change="updateType" v-model="selectedType">
            <option v-for="type in type_session" :value="type">{{ type }}</option>
        </select><br><br>
        <label for="sport">Sport : </label><br>
        <select name="selectedSport" v-model="selectedSport">
          <option v-for="sport in nom_sport" :value="sport">{{ sport }}</option>
        </select><br><br>
        <label for="IdCon">Identifiant de connexion : </label><br>
        <input type="text" id="IdCon" name="IdCon" v-model="login" required><br><br>
        <label for="mdpCon">Mot de passe de connexion : </label><br>
        <input type="text" id="mdpCon" name="mdpCon" v-model="password" required><br><br>
        <button type="submit" name ="BtValide" value ="BtValide" id="BtValide">Valider</button>
        <button type="button" name ="BtAnnuler" value ="BtAnnuler" id="BtAnnuler" @click="reset">Annuler</button>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          sports: [],
          id_sport:  "<%=id_sport%>",
          nom_sport:  "<%=nom_sport%>",
          type_session:  "<%=type_session%>",
          selectedSport: '',
          selectedType: '',
          login: '',
          password: ''
        },
        created() {
            this.id_sport = this.id_sport.split(',').map(Number);
            this.nom_sport = this.nom_sport.split(',');
            this.type_session = this.type_session.split(',');

            for (var i = 0; i < this.id_sport.length; i++) {
              this.sports.push({
                id_sport: this.id_sport[i],
                nom_sport: this.nom_sport[i],
                type_session: this.type_session[i]
              })
            }
            
            this.type_session = [...new Set(this.type_session)];
        },                  
        methods: {
          createSession: function() {
            // Code pour créer une session
          },
          updateType(){
            var valeurs = this.sports.filter(sport => sport.type_session == this.selectedType);

            this.nom_sport = [];
            valeurs.forEach(sport => this.nom_sport.push(sport.nom_sport));
          },
          reset(){
            this.selectedSport = ''
            this.selectedType = ''
            this.login = ''
            this.password = ''
            history.go(-1);
          }
        }
      })
    </script>
  </body>
</html>
