<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gestion des équipes</title>
    <link rel="stylesheet" href="/stylesheets/gestionEquipe.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  </head>
  <body>
  <div id="app">
    <div class="block">
      <header class="header">
          <img class="logo" src="/images/image.jpeg">
          <a class="lienBoutton" href="/"><input type="button" value="déconnection"></a>
      </header>
    </div>
    
      <h1 class="titre">Gestion des équipes</h1>

      <div class="equipeExist">
        <h2 class="titreEquipeExist">Equipes existantes</h2>
        <div class="tableau" >
          <% for(var i = 0; i < equipes.length; i++) { %>
              <p class="EquipeNom">Equipe <%=equipes[i].id_equipe %></p>
              <div class="tab">
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>id</th>
                            <th>Nom</th>
                            <th>Prenom</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var j = 0; j < equipes[i].eleves.length; j++) { %>
                            <tr>
                                <td><%=equipes[i].eleves[j].id_eleve%></td>
                                <td><%=equipes[i].eleves[j].nom%></td>
                                <td><%=equipes[i].eleves[j].prenom%></td>
                            </tr>
                        <% } %>
                </tbody>
              </table>
              <div class="ajoutEleve">
                <p class="ajoutEleveP">Ajouter Eleve</p>
                <select id="mySelect" v-model="updateNomEleves">
                  <option v-for="nom in nomEleves">{{ nom }}</option>
                </select>
              </div>
            </div>
            <% } %>
        </div>
      </div>
    </div>

    <h2 class="titreNEquipe">Nouvelle Equipe</h1>
      <form class="NewEquipe" method="post" action="/gestionEquipe">
        <input type="hidden" name="statut" value="newEquipe">
        <input type="hidden" name="idSession" value="<%=idSession%>">
        <button type="submit" >Créer une équipe</button>
      </form>


  </body>

  

  <script>
    const ws = new WebSocket('ws://localhost:3002');

    new Vue({
        el: '#app',
        data: {
            position : 1,
            session: '<%=idSession%>',
            nomEleves: [],
        },
        created: function() {
          // Écouter les événements de la connexion WebSocket
          this.position=1;
          const ses = this.session;
          const sesInt = parseInt(ses);
    
          ws.addEventListener('open', function(event) {

            ws.send(JSON.stringify({ type: 'getTabEleve', session: sesInt }));
          });

          ws.addEventListener('message', function(event) {
              
              const data = JSON.parse(event.data);
              console.log(data.data);

              if(data.type == 'eleves' && data.session == sesInt){
                  const infoEleve = data.data;
                  console.log("o=infoooo "+ infoEleve);
                  
                  const noms = [];
                  for (const eleve of infoEleve) {
                      if (eleve.nom !== this.nomCo && eleve.prenom !== this.prenomCo) {
                          noms.push(eleve.nom + ' ' + eleve.prenom);
                      }
                  }
                  this.updateNomEleves(noms);

              }
          }.bind(this));
        },
        destroyed: function() {
            // Fermer la connexion WebSocket lorsque la vue est détruite
            ws.close();
        },
        methods: {
            updateNomEleves(noms) {
                this.nomEleves = noms;
                
            },
        }
    });
  </script>
</html>

