<!DOCTYPE html>
<html>
    <head>
        <title>Modification d"une figure d'acrosport</title>
        <link rel="stylesheet" href="/stylesheets/gestion.css">
    </head>
    
    <body>
        <div class ="block">
            <header class="header">
                <img class="logo" src="/images/image.jpeg">
                <a class="lienBoutton" href="/" ><input type = "button" value="Menu principal"></a>
            </header>
        </div>
        <h1>Modification d'une figure</h1>
        <form action='/gestionFigure_modif' method='post'>
            <label for="nomVoie">Nom de la figure: </label>
            <input type="text" id="nom_figure" name="nom_figure" value="<%=nom%>">
            <label for="nomVoie">Deescription de la figure: </label>
            <input type="text" id="desc_figure" name="desc_figure" value="<%=desc%>">
            <label for="point">Point de la figure: </label>
            <input type="number" id="point" name="point" value ="<%=point%>" min="0" step="1">
            <button class="bouton" name="action" value="Modifier">Modifier</button>
            <input type="hidden" name="id_figure" value="<%= id_figure%>">
            <button class="bouton" name="action" value="Annuler">Annuler</button>
        </form>
    </body>        
</html>