<!DOCTYPE html>
<html>
    <head>
        <title>Gestion des voies d'escalade</title>
        <link rel="stylesheet" href="/stylesheets/gestion.css">
    </head>
    
    <body>
        <div class ="block">
            <header class="header">
                <img class="logo" src="/images/image.jpeg">
                <a class="lienBoutton" href="/" ><input type = "button" value="Menu principal"></a>
            </header>
        </div>
        <h1>Gestion des voies</h1>
        <form action='/gestion_voie' method='post'>
          <input type="submit" name="action" value="Ajouter" >
          <input type="submit" name="action" value="Retour" >
      </form>
        <div class="container">
          <table>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Difficulté</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <!-- Boucle pour afficher chaque voie -->
              <% voies.forEach(function(voie) { %>
                <tr>
                  <td><%= voie.nom_voie %></td>
                  <td> <%= voie.deg_diffi %></td>
                  <td>
                    <form action='/gestion_voie' method='post'>
                      <input type="hidden" name="id_voie" value="<%= voie.id_voie %>">
                      <input type="submit" name="action" value="Modifier" >
                  </form>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>       
        </div>
        <div>
          <!-- Afficher le message d'erreur s'il y en a un -->
          <% if (message) { %>
            <p style="color: red;"><%= message %></p>
          <% } %>
      </div>    
    </body>
</html>
