<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Gestion des équipes</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <h1>Gestion des équipes</h1>
      <table>
        <thead>
          <tr>
            <th>Nom de l'équipe</th>
            <th>Nombre de joueurs</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="team in teams" :key="team.id">
            <td>{{ team.id_equipe }}</td>
            <td>{{ team.nb_joueurs }}</td>
            <td>{{ team.total }}</td>
          </tr>
        </tbody>
      </table>
      <button v-if="!addingTeam" @click="showAddTeamForm()">Ajouter une équipe</button>
      <div v-if="addingTeam">
        <form  action='/gestionEquipe' method='post'>
          <label>Nom de l'équipe:</label>
          <input type="text" v-model="newTeamName" />
          <label>Membres de l'équipe:</label>
          <ul>
            <li v-for="eleve in eleves" :key="eleve.id">
              <label>
                <input type="checkbox" v-model="selectedStudents" :value="eleve.id" />
                    {{ eleve }}
              </label>
            </li>
          </ul>
          <button type="submit" @click.prevent="addTeam()">Ajouter</button>
          <button type="button" @click="cancelAddTeam()">Annuler</button>
        </form>
      </div>
    </div>
    <script>
      const ws = new WebSocket('ws://localhost:3001');
        new Vue({
            el: '#app',
            data() {
                return {
                teams: [], // Ajout de la propriété 'teams'
                addingTeam: false,
                newTeamName: "",
                eleves: [], // Ajout de la propriété 'eleves'
                selectedStudents: [],
                };
            },created: function() {
                // Écouter les événements de la connexion WebSocket
                ws.addEventListener('open', function(event) {
                    console.log('Connexion WebSocket ouverte');
                    ws.send(JSON.stringify({ type: 'getTabEleve', session: 2 }));
                    ws.send(JSON.stringify({ type: 'getTabEquipe', session: 2 }));
                });

                ws.addEventListener('message', function(event) {
                    console.log('Données reçues:');
                    console.log(JSON.parse(event.data));
                    if(data.type == 'info_eleve'){
                        const infoEleve = JSON.parse(event.data);
                        const noms = [];
                        console.log(infoEleve + 'infoEleve');
                        for (const eleve of infoEleve) {
                            if (eleve.session === 2) {
                            noms.push(eleve.nom + ' ' + eleve.prenom);
                            }
                        }
                        this.eleves = noms;
                    }
                    if(data.type == 'equipe_session'){
                        const equipeSession = JSON.parse(event.data);
                        const equipes = [];
                        console.log(equipeSession + 'equipeSession');
                        for (const equipe of equipeSession) {
                            if (equipe.session === 2) {
                            equipes.push(equipe);
                            }
                        }
                        this.teams = equipes;
                    }
                }.bind(this));
            },
            methods: {
                showAddTeamForm() {
                  this.addingTeam = true;
                  console.log(this.eleves);
                },
                cancelAddTeam() {
                  this.addingTeam = false;
                  this.newTeamName = "";
                  this.selectedStudents = [];
                },
                addTeam() {
                  const newTeam = {
                      name: this.newTeamName,
                      nbPlayers: this.selectedStudents.length,
                      total: 0,
                  };
                  this.teams.push(newTeam);
                  this.addingTeam = false;
                  this.newTeamName = "";
                  this.selectedStudents =[];
                },
            },
        });
      </script>      
    </body>
</html>
