<!DOCTYPE html>
    <!-- Page d'accueille , page où on se connecte à une session-->
    <html>
        <head>
            <title>Section Sport</title>
            <link rel="stylesheet" href="/stylesheets/style.css">
        </head>
        <body>
            <% if (professeur) { %>

            <!-- Afficher la section specifique aux professeurs-->
            
            <form class ="formulaire" action='/' method='post'>
                <br>
                <img class="img" src="/images/image.jpeg" >
                <h1>Section Sport</h1>
                <label for="SIdentifiant">Identifiant Session : </label><br>
                <input type="text" id="SIdentifiant" name="SIdentifiant" required><br>
                    
                <label for="Spwd">Clé de Session : </label><br>
                <input type="text" id="Spwd" name="Spwd" required><br>

                <button type="submit" name ="btn" value ="BtConnexion" >Connexion session </button>
                
                <button type="button" name ="btn" onclick="window.location.href='/listeSession';" value ="BtAccesProf" >Accès professeur </button>
            </form>

            <% } else { %>
            <form class ="formulaire" action='/' method='post'>
                <br>
                <img class="img" src="/images/image.jpeg" >
                <h1>Section Sport</h1>
                <label for="SIdentifiant">Identifiant Session : </label><br>
                <input type="text" id="SIdentifiant" name="SIdentifiant" required><br>
                
                <label for="Spwd">Clé de Session : </label><br>
                <input type="text" id="Spwd" name="Spwd" required><br>
                
                <label for="SNomEleve">Nom : </label><br>
                <input type="text" id="SNomEleve" name="SNomEleve" ><br>
                
                <label for="SPrenomEleve">Prenom : </label><br>
                <input type="text" id="SPrenomEleve" name="SPrenomEleve" ><br>
                
                <label for="SClasseEleve">Classe : </label><br>
                <input type="text" id="SClasseEleve" name="SClasseEleve" maxlength="3"  ><br>
                
                <button type="submit" name ="btn" value ="BtConnexion" >Connexion session </button>
                <br>
                <br>
            </form>  
            <% } %>
            <div>
                <!-- Afficher le message d'erreur s'il y en a un -->
                <% if (message) { %>
                  <p style="color: red;"><%= message %></p>
                <% } %>
            </div>
        </html>
