<!DOCTYPE html>
        <!-- Page d'accueille , page où on se connecte à une session-->
        <html>
            <head>
                <title>Section Sport</title>
                <link rel="stylesheet" href="/stylesheets/style.css">
            </head>
            <form class ="formulaire" action='/' method='post'>
                <br>
                <img class="img" src="/images/image.jpeg" >
                <h1>Section Sport</h1>
                <label for="SIdentifiant">Identifiant Session : </label><br>
                <input type="text" id="SIdentifiant" name="SIdentifiant" required><br>
                
                <label for="Spwd">Clé de Session : </label><br>
                <input type="text" id="Spwd" name="Spwd" required><br>
                
                <label for="SNomEleve">Nom : </label><br>
                <input type="text" id="SNomEleve" name="SNomEleve" ><br>
                
                <label for="SPrenomEleve">Prenom : </label><br>
                <input type="text" id="SPrenomEleve" name="SPrenomEleve" ><br>
                
                <label for="SClasseEleve">Classe : </label><br>
                <input type="text" id="SClasseEleve" name="SClasseEleve" maxlength="3"  ><br>
                
                <button type="submit" name ="btn" value ="BtConnexion" >Connexion session </button>
                <br>
                <br>
            </form> 
            <!-- Afficher la section specifique aux professeurs-->
            <form action='/' method='post'>
                <% if (typeof professeur !== 'undefined' && professeur !== '') { %>
                    <button type="submit" name ="btn" value ="BtAccesProf" >Accès professeur </button>
                <% } %>
            </form> 
            <div>
                <!-- Afficher le message d'erreur s'il y en a un -->
                <% if (message) { %>
                  <p style="color: red;"><%= message %></p>
                <% } %>
            </div>
        </html>

