<html>
    <head>
        <meta charset="utf-8">
        <title>Liste des Sessions</title>
        <link rel="stylesheet" href="/stylesheets/listeSession.css">

    </head>
    <div class ="block">
        <header class="header">
            <img class="logo" src="/images/image.jpeg">
               <a class="lienBoutton" href="/" ><input type = "button" value="Déconnexion"></a>
        </header>

        <div class ="titre">
            <h1>Liste des Sessions</h1>
    </div>
    <body>

        <form class="ajout" action='/listeSession' method="post" id="add_tournament">
            <button class="boutonAjout" name="action" value="add" type='submit'>
                <img src='/images/icon_plus.png' width=100% height=100% />
            </button>
            <br>
            Ajouter une session
        </form>

        <div id='session'>
            <% for(var i = 0; i < session.length; i++) { %> 
                <form action='/listeSession' method='post' id='<%= session[i].id_session %>'>
                   <p> Sport : <%= session[i].nom_sport %></p>
                    <br>
                    <p>Identifiant de connexion : <%= session[i].identifiant_con %></p>
                    <br>
                    <p>Mot de passe : <%= session[i].mdp %></p>
                    <br>
                    <p>Date : <%= session[i].date_session %></p>
                    <br>
                    <button name="action" value="view" type='submit'>
                        <img src='/images/icon_oeil.png' width=100% height=100% />
                    </button>
                    <button name="action" value="update" type='submit'>
                        <img src='/images/icon_crayon.png' width=100% height=100% />
                    </button>
                    <button name="delete" value=<%= session[i].id_session %> type='submit'>
                        <img src='/images/icon_corbeille.png' width=100% height=100% />
                    </button>
                    <input type='hidden' name='id' value=<%= session[i].id_session %>>
                </form>
              <% } %>              
        </div>
    </body>
</html>