<html>
    <head>
        <meta charset="utf-8">
        <title>Liste des sessions</title>
    </head>

    <body>
        <h1>Liste des Sessions</h1>

        <div id="add_tournament">
            <img src="/images/icon_plus.png" width=5% height=10% onclick="replaceFunction()"/>

            <script>        
                function replaceFunction(){
                    window.location.replace('/createSession');
                }
            </script>

            <br>
            Ajouter un tournoi
        </div>
        <ul id="tournois"></ul>
        <script>        
            var newSession = function(){
                var session = document.createElement('li');
                session.innerHTML = element;
                element = '<div> '
                document.getElementById('tournois').appendChild(session);
            }
        </script>
    </body>
</html>